body{
    background-color: #E7F6FF;
    font-family: 'Inter', sans-serif;
}


.wrapper{
    background-color: white;
    border-radius: 20px;
    margin-left: 250px;
    margin-right: 310px;
    
}


.overlay{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9;

}
.drawer{
    position: absolute;
    display: flex;
    flex-direction: column;

    width: 385px;
    height: 100%;
    right: 0px;
    top: 0px;
    padding: 20px;

    background: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

    .items{
        flex: 1;
        overflow: auto;
        margin-bottom: 40px;
    }
    
}

header{
    padding-bottom: 40px;
    border-bottom: 1px solid #EAEAEA;
    position: relative;
    img{
        margin-right: 10px;
    }

    h3,p{
        margin: 0;
        
    }
}

.content{
    h1{
        margin-bottom: 40px;
    }
}




.button{
    width: 32px;
    height: 32px;
    

    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 8px;

    cursor: pointer;
}

li{
    display: flex;
    align-items: center;
    .button-bucket{
       
        cursor: pointer;
        outline: none;
        border: none;
        background-color: white;
    }
}

.button-bucket:hover,
.button-bucket.active{
    color: rgba(255, 255, 255, 0.54);
}

header .card-bucket{
    position: absolute;
    right: 50px;
    top: 20px;
    width: 400px;
    height: 100vh;
    background-color: black;
}

.cardItem{
    padding: 15px;
    border: 1px solid #F3F3F3;
    border-radius: 20px;  
    
}

.removeButton{
    background-color: white;
    border: none;

    cursor: pointer;
    outline: none;
    opacity: 0.8;
}
.removeButton:hover{
    opacity: 1;
}

.offer{

    position: relative;

    width: 325px;
    height: 55px;

    color: white;

    font-size: 16px;
    cursor: pointer;

    border: none;

    background: #9DD558;
    border-radius: 18px;

    &:hover{
        img{
            transform: translateX(5px);
        }
    }

    img{
        position: absolute;
        right: 30px;
        top: 20px;
        transition: transform 0.2 ease-in;
    }
}

.offer:hover{
    background: #91c057d4;
}